@font-face {
  font-family: "element-icons"; /* Project id 3904303 */
  src: url('iconfont.woff2?t=1676811040311') format('woff2'),
       url('iconfont.woff?t=1676811040311') format('woff'),
       url('iconfont.ttf?t=1676811040311') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-KJ_016:before {
  content: "\e667";
}

